@import "compass-sass-mixins/compass";
@import "_fonts";
@import "_mixins";

@media (min-width: 992px) {
	.modal__payment .modal-lg {
	    width: 960px;
	} 
}


.modal__payment {

	p, h3, h4 {
		color: #292929;
	}
	.modal-content {
		// display: block;
		// float: left;
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-flex-wrap: nowrap;
		    -ms-flex-wrap: nowrap;
		        flex-wrap: nowrap;
		-webkit-align-items: stretch;
		        align-items: stretch;
		width: 100%;
		-webkit-box-shadow: none;
		        box-shadow: none;
	    border: none;
	    -webkit-border-radius: 0;
	            border-radius: 0;
	    background-color: #F1F3F6;
	}

	&--sidebar {
		display: inline-block;
		position: relative;
		width: 25%;
		padding-top: 155px;
		vertical-align: top;
		.nav-pills>li {
		    float: left;
		    width: 100%;
		    >a {
		    	padding: 20px;
		    	color: #1D77EF;
		    	font-size: 16px;
		    	@include border-radius(0);
		    }
		}
		.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
			background-color: #FFF;
			color: #292929;
		}
	}

	&--content {
		display: inline-block;
		position: relative;
		width: 75%;
		background-color: #FFF;
		.close:focus, .close:hover {
			outline: none;
		}
		.modal-title {
			font-family: $os;
			font-weight: 200;
			font-size: 28px;
			color: #292929;
		}
		.modal-header {
			border-bottom: 1px solid #F4F4F4;
			padding: 15px 0;
		}
		&_data {
			display: block;
			float: left;
			position: relative;
			width: 100%;
			border-bottom: 1px solid #F4F4F4;
			padding: 5px 0;
			small {
				font-family: $os;
				font-weight: 400;
				font-size: 12px;
				margin-right: 40px;
				span {
					font-weight: bold;
				}
			}
		}
		.modal-body {
			display: block;
			float: left;
			position: relative;
			width: 100%;
			padding: 15px 0;
		}
	}
	&--steps {
		display: block;
		float: left;
		width: 100%;
		border-bottom: 1px solid #F4F4F4;
		list-style: none; 
		margin: 0; 
		padding: 0; 
		font-family: $os;
		font-weight: 400;
		li {
			display: block;
			float: left;
			width: 100%;
			font-size: 14px;
			margin-bottom: 25px;
			padding-left: 40px;
			counter-increment: list;
			position: relative;
			strong {
				font-size: 22px;
				font-weight: 400;
				vertical-align: top;
			}
			&:before { 
				display: block; 
				box-sizing: border-box;
				width: 23px; 
				height: 23px;
				line-height: 23px;
				text-align: center;
				color: #292929;
				font-family: $os;
				background: #ffdd2e;
				position: absolute;
				top: 5px; left: 0; 
				content: counter(list, decimal);
				border-radius: 25px;
			}
			small {
				display: block;
				float: left;
				width: 100%;
			}
		}		
	}
	&--list {
		padding: 0;
		list-style-type: disc;
		font-size: 14px;
		color: #292929;
		p {
			text-align: left;
		}
		li {
			margin: 0 15px;
			a {
				color: #1D77EF;
			}
		}
	}
	&--controls {
		text-align: center;
		display: flex;
		-webkit-justify-content: center;
		        justify-content: center;
		-webkit-align-items: center;
		        align-items: center;
		padding-right: 10%;
		width: 100%;
		float: left;
		vertical-align: middle;
	}
	&--back {
		display: inline-block;
		font-size: 16px;
		color: #525252;
		margin: 0 10px;
		text-decoration: underline;
		@include link {
			color: #292929;
		}
	}
	&--gotopay {
		display: inline-block;
		font-size: 16px;
		color: #292929;
		padding: 15px 25px;
		margin: 0 15px;
		border: 1px solid #ffdd2d;
		@include border-radius(20px);
		@include background-clip(padding-box);
		background-color: #ffdd2d;
		@include box-shadow(0 1px 1px #b79d1b, inset 0 1px 0 #fff9db);
		@include transition(.3s);
		position: relative;
		@include link {
			text-decoration: none;
			background-color: darken(#FFDD2D,15%);
			color: #292929;
		}

	}
	&--guarantees {
		padding: 0;
		margin: 10px 0;
		display: block;
		float: left;
		width: 100%;
		text-align: center;
		p {
			text-align: center;
			display: block;
			float: left;
			width: 100%;
			margin: 0;
			font-size: 14px;
		}
		li {
			display: inline-block;
			margin-right: 20px;
			padding-left: 15px;
			background-image: url('../img/Check.png');
			background-position: 0 50%;
			background-repeat: no-repeat;
			font-size: 12px;
			color: #292929;
		}
	}
	&--contacts {
		display: block;
		float: left;
		position: relative;
		width: 100%;
		text-align: center;
		border-bottom: 1px solid #F4F4F4;
		border-top: 1px solid #F4F4F4;
		padding: 15px 0;
		p, a {
			display: inline-block;
			margin: 0 10px;
		}
		p {
			font-size: 14px;
			color: #535353;
			display: inline;
			span {
				color: #000;
			}
		}
		&--btn {
			display: inline-block;
			color: #1D77EF;
			font-size: 14px;
			padding: 5px 15px;
			border: 1px solid #1d77ef;
			@include border-radius(14px);
			@include transition(.3s);
			@include link {
				text-decoration: none;
				background-color: #1D77EF;
				color: #fff;
			}
		}
	}
	&--refs {
		display: block;
		float: left;
		position: relative;
		width: 100%;
		padding: 15px 0;
		line-height: 12px;
		small {
			font-size: 9px;
			color: #535353;
		}
	}
	&--wait {
		display: block;
		float: left;
		position: relative;
		width: 100%;
		padding-top: 90px;
		padding-bottom: 30px;
		text-align: center;
		h3 {
			text-align: center;
			vertical-align: middle;
			font-family: $os;
			font-size: 20px;
			color: #292929;
			font-weight: 400;
		}
		p {
			font-size: 14px;
			margin-bottom: 20px;
		}
		&--btn {
			@extend .modal__payment--gotopay;
			padding-top: 10px;
			padding-bottom: 10px;
		}
		small {
			display: block;
			font-size: 11px;
			color: #292929;
			margin-top: 5px;
		}
	}
	&--failed {
		padding-top: 75px;
		&--help {
			display: block;
			float: left;
			position: relative;
			width: 100%;
			padding: 10px 0;
			background-color: #FFDD2E;
			p {
				font-size: 14px;
				margin: 0;
				b {
					font-weight: 900;
					display: block;
					margin-bottom: 5px;
				}
			}
		}
	}
	&--paid {
		@extend .modal__payment--wait;
		padding: 105px 0 75px;
		&_present {
			padding-top: 45px;
			padding-bottom: 30px;
		}
		
		
	}
	&--present {
		display: block;
		float: left;
		position: relative;
		padding: 15px 20px;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		border: 2px solid #FFDD2E;
		color: #292929;
		font-family: $os;
		h3 {
			font-size: 28px;			
			margin-bottom: 10px;
			margin-top: 0;
			color: #292929;
			font-family: $os;
			font-weight: 300;
		}
		p {
			font-size: 16px;
			text-align: left;
			font-family: $os;
			color: #292929;
			b {
				vertical-align: baseline;
			}
		}
		&--controls {
			display: block;
			float: left;
			position: relative;
			width: 100%;
			font-family: $os;
			span {
				font-size: 14px;
				display: block;
				float: left;
				padding: 5px 0;
				color: #292929;
				b {
					vertical-align: baseline;
				}
			}			
		}
		&--btn {
			@extend .modal__payment--gotopay;
			float: right;
			font-size: 14px;
			padding: 5px 20px;
		}
	}
}

.modal__payment--small {
	.modal-header {
		display: block;
		float: left;
		position: relative;
		width: 100%;
		padding: 15px 25px;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		background-color: #FFDD2E;
		h2 {
			font-family: $os;
			font-size: 28px;
			color: #292929;
			font-weight: 300;
		}
		.close {
			margin-top: 5px;
		}
	}

	.scrolltext {
		height: 375px;
	}
	.modal-body {
		display: block;
		float: left;
		position: relative;
		width: 100%;
		background-color: #FFF;
		text-align: left;
		padding: 25px;
		h4 {
			font-size: 14px;
			font-family: $os;
			font-weight: bold;
			color: #292929;	
			margin: 10px 0;
		}
		p {
			font-weight: 300;
			font-size: 14px;
			font-family: $os;
			color: #292929;	
			margin: 5px 0;
			text-align: left;
		}
		a {
			color: #1D77EF;
		}
	}
	.form-control {
		padding-left: 12px;
		padding-right: 12px;		
		color: #292929;
		font-size: 14px;
		border-color: #cccccc;
		
	}
	textarea.form-control {
		height: 85px;
	}

	.modal__write--btn {
		@extend .modal__payment--present--btn;
		float: left;
		margin: 15px 0;
		outline: none;
		&--active {
			border: 1px solid #ffdd2d;
			background-color: #ffeb86;
		}
	}
	.modal__write--form {
		display: block;
		float: left;
		position: relative;
		width: 100%;
		padding: 10px 0;
	}
}
.js__modal__write--success {
	display: none;
	text-align: center;
	padding: 85px 0;
	h3 {
		font-size: 20px;
		color: #292929;
		font-family: $os;
		font-weight: 400;
	}
	p {
		font-size: 14px;
		color: #292929;
		font-family: $os;
		font-weight: 300;
		text-align: center!important;
		margin: 15px 0!important;
	}
}

.modal__write--preloader {
	display: none;
    float: left;
    margin-left: 15px;
    margin-top: 20px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  

	 .preloader_line{
	 	display: none;
	 }
	 .preloader{
	 	background-image: url('../img/rolling.gif');
	 	background-repeat: no-repeat;
	 	-webkit-background-size: contain;
	 	     -o-background-size: contain;
	 	        background-size: contain;
	 }


}

@-ms-keyframes spin { 
	from { 
	    -ms-transform: rotate(0deg); 
	} to { 
	    -ms-transform: rotate(360deg); 
	}
}
@-ms-keyframes spin_min { 
	from { 
	    -ms-transform: rotate(360deg); 
	} to { 
	    -ms-transform: rotate(0deg); 
	}
}