@media only screen and (max-width: 1024px) {
	
}

@media only screen and (max-width: 980px) {
	.nav>li>a {
	    padding-left: 5px;
	    padding-right: 5px;
	}
	.navigation--dropped li a {
		padding-left: 5px;
		padding-right: 5px;
		font-size: 13px;
	}
	.pl0 {
		padding-left: 15px;	
	}
	.home-banner--start {
		padding: 25px 50px;
	}
	.enter-form--btn {
		padding: 0;
	}
}

@media only screen and (max-width: 770px) {
	.home-description__item {
		text-align: center;
	}
	.enter-form--help {
		left: 50%;
		top: 100%;
		-webkit-transform: translate(-50%,-100%);
		   -moz-transform: translate(-50%,-100%);
		    -ms-transform: translate(-50%,-100%);
		     -o-transform: translate(-50%,-100%);
		        transform: translate(-50%,-100%);
		margin-left: 0;
		margin-top: 10px;
		&:before {
			top: -5px;
			left: 50%;
			
			border-left: 8px solid transparent;
			border-right: 8px solid transparent;
			border-bottom: 8px solid #EFEFEF;
			border-top: none;
			-webkit-transform: translate(-50%,0);
			   -moz-transform: translate(-50%,0);
			    -ms-transform: translate(-50%,0);
	    		 -o-transform: translate(-50%,0);
			        transform: translate(-50%,0);
		}
		
	}
	.enter-form--help--reg {
		-webkit-transform: translate(-50%, 0);
		   -moz-transform: translate(-50%, 0);
		    -ms-transform: translate(-50%, 0);
		     -o-transform: translate(-50%, 0);
		        transform: translate(-50%, 0);
	}
}

@media only screen and (max-width: 736px) {
	/*    Nav-menu   */
	.navigation--dropped li {
		display: block;
		color: #FFF;
	}
	.navigation--dropped span.container li {
		display: block;
		width: 100%;
		margin: 10px 0;
		padding: 0 10px;
		height: auto;
		line-height: normal;
	}
	li.dropdown-cust.open .dropdown-menu .divider-vert {
		height: 1px;
		width: 100%;
		margin: 0;
	}
	li.dropdown-cust.open a {
		color: #FFF;
		&:after {
			content: none;
		}
	}
	.divider-vert, .dropdown-menu .divider-vert {
	    height: 1px;
	    width: 100%;
    }
    .navigation .nav>li.dropdown-cust.open .dropdown-menu {
    	height: auto;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    	color: #FFF;
    }
    .navigation--dropped .active:before {
    	content: none;
    	display: none;
    }
    .navbar-nav>li>a {
	    padding-top: 10px;
	    padding-bottom: 10px;
	    padding: 10px 15px;
	}

	/*    Nav-menu   */
	
	.btn {
	    margin-right: 10px;
	    margin: 15px 0;
	    width: 100%;
	}

	.home-navigation--header .navbar-brand {
		font-size: 24px;
		img {
			vertical-align: middle;
			margin-top: 0;
		}
		
	}
	.home-navigation--header ul li {
		margin-left: 0;
	}
	.home-navigation__list {
    	margin: 9px -15px 9px 0;
    }
    .home-banner h2 {
    	font-size: 24px;
    }
    .home-banner h5,.home-description h5 {
    	font-size: 16px;
    }
    .home-banner--start {
    	padding: 15px 40px;
    }
    .home-description h3 {
    	font-size: 26px;
    }
    .home-footer p{
    	font-size: 12px;
    }

    .enter-form--btn {
		padding: 0;
	}
}

@media only screen and (max-width: 500px) {
	
}

@media only screen and (max-width: 320px) {
	
}