@media only screen and (max-width: 1024px) {
	
}

@media only screen and (max-width: 980px) {
	.nav>li>a {
	    padding-left: 5px;
	    padding-right: 5px;
	}
	.navigation--dropped li a {
		padding-left: 5px;
		padding-right: 5px;
		font-size: 13px;
	}
}

@media only screen and (max-width: 770px) {
	
}

@media only screen and (max-width: 736px) {
	.navigation--dropped li {
		display: block;
		color: #FFF;
	}
	.navigation--dropped span.container li {
		display: block;
		width: 100%;
		margin: 10px 0;
	}
	li.dropdown-cust.open .dropdown-menu .divider-vert {
		height: 1px;
		width: 100%;
		margin: 0;
	}
	li.dropdown-cust.open a {
		color: #FFF;
		&:after {
			content: none;
		}
	}
	.divider-vert, .dropdown-menu .divider-vert {
	    height: 1px;
	    width: 100%;
    }
    .navigation .nav>li.dropdown-cust.open .dropdown-menu {
    	height: auto;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    	color: #FFF;
    }
}

@media only screen and (max-width: 500px) {
	
}

@media only screen and (max-width: 320px) {
	
}