.navigation {
		
	&--dropped {
		width: 100%;
		background-color: #814FBF;
		border: none;
		@include border-radius(0);		
		height: 40px;
		
		li {
			display: inline-block;
			padding: 0;
			vertical-align: middle;	
			a {
				color: #fff;
				&:after {
					content: none;
				}
			}		
		}
		span.container {
			display: block;
			position: relative;
			padding: 0;
			li {
				display: inline-block;
				padding: 0;
				vertical-align: middle;	
				a {
					color: #fff;
				}		
			}
		}
	}
	&--user {
		a {
			padding-top: 0;
			padding-bottom: 0;
			span {
				padding-top: 9px;
				padding-bottom: 9px;
				display: block;
			}
			i {
				font-style: normal;
				vertical-align: baseline;
				font-weight: 300;
			}
		}
	}
	.nav > li.dropdown-cust.open {
	    position: static;
	}
	.nav > li.dropdown-cust.open .dropdown-menu {
	    display: inline-block; width: 100%;  left:0; right:0;
	}
}

.navbar {
	border: none;
	background-color: #5A2B95;
	@include border-radius(0);
	&-brand {
		font-family: $bliss;
		font-size: 21px;
		color: #FFF;
		height: auto;
		position: relative;
		&.active {
			&:after {
				content: "";
				z-index: 9;
				position: absolute;
				bottom: 0;
				left: 50%;
				border-bottom: 10px solid #fff;
				border-left: 8px solid transparent;
				border-right: 8px solid transparent;
				-webkit-transform: translateX(-50%);
				   -moz-transform: translateX(-50%);
				    -ms-transform: translateX(-50%);
				     -o-transform: translateX(-50%);
				        transform: translateX(-50%);
			}
		}
		img {
			display: inline-block;
			margin-right: 10px;
			
		}
	}
}

.navbar-default .navbar-brand {
	color: #FFF;
	@include link{color: #FFF; }

}
.navbar-default .navbar-nav>li>a {
	color: #c9c9c9;
	@include link{color: #FFF;background: none;}
}

.navbar-nav>li>a {
    padding-top: 22px;
    padding-bottom: 22px;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
	background-color: transparent;
	color: #FFF;
}



ul.dropdown-menu.navigation--dropped {
	padding: 0;
	vertical-align: middle;
}
.navbar-nav>li>.dropdown-menu {
	@include border-radius(4px);
}
li.dropdown-cust.open {
	.navbar-nav>li>.dropdown-menu {
		@include border-radius(0);
	}
	.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
		background-color: transparent;
		color: #FFF;
	}
	a {
		position: relative;
		&:after {
			content: "";
			z-index: 9;
			position: absolute;
			bottom: 0;
			left: 50%;
			border-bottom: 10px solid #814fbf;
			border-left: 8px solid transparent;
			border-right: 8px solid transparent;
			-webkit-transform: translateX(-50%);
			   -moz-transform: translateX(-50%);
			    -ms-transform: translateX(-50%);
			     -o-transform: translateX(-50%);
			        transform: translateX(-50%);
		}
	}
	
	.dropdown-menu .divider-vert {
		height: 40px;
		width: 1px;
		margin: 0;
		background-color: #7037B7;
		
	}
}

li.active {		
	a {
		position: relative;
		background-color: transparent;
		&:after {
			content: "";
			z-index: 9;
			position: absolute;
			bottom: 0;
			left: 50%;
			border-bottom: 10px solid #fff;
			border-left: 8px solid transparent;
			border-right: 8px solid transparent;
			-webkit-transform: translateX(-50%);
			   -moz-transform: translateX(-50%);
			    -ms-transform: translateX(-50%);
			     -o-transform: translateX(-50%);
			        transform: translateX(-50%);
		}
	}
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	background-color: transparent;
	color: #c9c9c9;
}

li.navigation--user a{
	font-size: 14px;
	color: #c9c9c9;
	padding-top: 13px;
	padding-bottom: 13px;
	.avatar {
		width: 38px;
		height: 38px;
		margin-right: 10px;
		@include border-radius(50%);
	}
}

li.navigation--user {
	.dropdown-menu>li>a {
	    padding: 3px 20px;
        color: #333;
        @include link {
			background-color: #803FBA;
			color: #fff;
        }
	}
}

b.caret {
    margin-left: 10px;
}

.divider-vert {
	height: 64px;
	width: 1px;
	margin: 0;
	background-color: #7037B7;
}

ul.dropdown-menu.navigation--dropped {
    @include border-radius(0);
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
	background-color: #803FBA;
	color: #fff;
}

.badge {
	margin-left: 5px;
	background-color: #F3A162;
}
.navigation--dropped span.container li a:after {
    content: none;
}
.navigation--dropped span.container li a {
	padding: 0 15px;
	text-decoration: none;
	
}
.navigation--dropped span.container li {
	height: 40px;
	line-height: 40px;
	a {
		position: relative;
	}
	&.active {
		position: relative;
		&:before {
			content: "";
			z-index: 9;
			position: absolute;
			bottom: 0;
			left: 50%;
			border-bottom: 7px solid #fff;
			border-left: 7px solid transparent;
			border-right: 7px solid transparent;
			-webkit-transform: translateX(-50%);
			   -moz-transform: translateX(-50%);
			    -ms-transform: translateX(-50%);
			     -o-transform: translateX(-50%);
			        transform: translateX(-50%);
		}
	}
}

.navigation--dropped .active {
	position: relative;
	&:before {
			content: ""!important;
			z-index: 9;
			position: absolute;
			bottom: 0;
			left: 50%;
			border-bottom: 5px solid #fff;
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			-webkit-transform: translateX(-50%);
			   -moz-transform: translateX(-50%);
			    -ms-transform: translateX(-50%);
			     -o-transform: translateX(-50%);
			        transform: translateX(-50%);
		}
}

 li.dropdown-cust .navigation--dropped {
	-webkit-transform: translateY(-100%);
	   -moz-transform: translateY(-100%);
	    -ms-transform: translateY(-100%);
	     -o-transform: translateY(-100%);
	        transform: translateY(-100%);}

 li.dropdown-cust.open .navigation--dropped  {
	-webkit-transform: translateY(0);
	   -moz-transform: translateY(0);
	    -ms-transform: translateY(0);
	     -o-transform: translateY(0);
	        transform: translateY(0);
}
li.dropdown-cust {
	position: relative;
	
}
li.dropdown-cust.open {
	
	a.active {
		position: relative;
		&:after {
			content: "";
			z-index: 9;
			position: absolute;
			bottom: 0;
			left: 50%;
			border-bottom: 10px solid #fff;
			border-left: 8px solid transparent;
			border-right: 8px solid transparent;
			-webkit-transform: translateX(-50%);
			   -moz-transform: translateX(-50%);
			    -ms-transform: translateX(-50%);
			     -o-transform: translateX(-50%);
			        transform: translateX(-50%);
		}
	}
}

.dropdown-menu {	
	-webkit-transition: all .3s ease .15s;
    -moz-transition: all .3s ease .15s;
    -o-transition: all .3s ease .15s;
    -ms-transition: all .3s ease .15s;
    transition: all .3s ease .15s;
}

.navbar-toggle, .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	border: none;
	background: transparent;
}

.navbar-toggle {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
	position: absolute;
	top: 50%;
	right: 0;
	-webkit-transform: translateY(-50%);
	   -moz-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	     -o-transform: translateY(-50%);
	        transform: translateY(-50%);
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
} 

.navbar-header {
	position: relative;
}
