.modal-backdrop.in {
	opacity: 0.4;
}

.modal-backdrop {
	background-color: #320D61;
}
.modal-body  {
	p {
		float: none;
	}
	button.btn.btn-default {
	    margin-right: 0;
	}
	p.form-control {
		margin: 0;
	}
	.open>.dropdown-menu {
	    width: 100%;
	    margin: 0;
	    @include border-radius(0 0 4px 4px);
	}
	.dropdown-menu>li>a {
		@include link {
			color: #333;
			background-color: #F9F9F9;
		}
	}
	.dropdown {
		margin: 10px;
	}
	.form-control {
		height: 34px;
		padding: 0;
		line-height: 34px;
		span {
			padding: 6px 12px; 
		}
		span.pull-right, span.caret {
			padding: 0;
		}
		span.pull-right {
			border-left: 1px solid #ccc;
			height: 33px;
			padding: 0 10px;
		}
	}
	.help--info {
		font-size: 12px;
		color: #777;
	}
}

.getCode {
	.modal-body {
		text-align: center;
		.form-control {
			width: 110px;
			margin: 10px auto;
			padding-left: 15px;
		}
	}
}