.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	vertical-align: middle;
}

.well-left {
	display: inline-block;
	margin: 0 10px;
	&:first-of-type {
		margin-left: 0;
	}
}
.well-long {
	margin-bottom: 0;
}


a.table--control {
	margin: 0 5px;
	i {
		font-size: 18px;
	}
	@include link {
		text-decoration: none;
	}
}

.set-btn {
	@include link {
		text-decoration: none;
	}
}

.remove-btn {	
	opacity: 0.2;
	i {
		color: red!important;
	}
	@include link {
		opacity: 1;
	}
}

.table {
	margin-top: 20px;
}

.row__not-active {
	color: #878787;
	a {
		cursor: default;
		color: #878787;
		text-decoration: none;
	}
}

.table--check, #checkAll {
	vertical-align: text-bottom;
	margin-top: 0;
	margin-right: 15px!important;
}

.new-mes {
	color: #E00;
}

.stat {
	&__head {
		display: block;
		float: left;
		position: relative;
		width: 100%;
		margin-bottom: 15px;
		&--date {
			display: block;
			position: relative;
			float: left;
			margin-right: 15px;
			span.caret {
				position: absolute;
				top: 50%;
				right: 10px;
				-webkit-transform: translateY(-50%);
				   -moz-transform: translateY(-50%);
				    -ms-transform: translateY(-50%);
				     -o-transform: translateY(-50%);
				        transform: translateY(-50%);
			}
		}
	}

}

.toggle-row {
	margin: 0;
}

.dropdown-row-child {
	display: none!important;
}



.dropdown-row-close {
	.show-row {
		color: #333;
		padding: 0;
		text-decoration: underline;
		position: relative;
		&:before {
			position: absolute;
			left: -20px;
			content: "\f067";
			font-size: 14px;
			font-family: FontAwesome;
			color: #D0D0D0;
			display: inline-block;
			margin-right: 10px;
		}
	}
}



.dropdown-row-open {
	.show-row {
		color: #333;
		padding: 0;
		text-decoration: underline;
		position: relative;
		&:before {
			position: absolute;
			left: -20px;
			content: "\f068";
			font-size: 14px;
			font-family: FontAwesome;
			color: #D0D0D0;
			display: inline-block;
			margin-right: 10px;
		}
	}
}




.footable-detail-show {
	td.footable-visible.footable-first-column, th.footable-visible.footable-first-column{
		padding-left: 10px;
	}
}
.table--collapsing {
	th.header.footable-visible.footable-first-column {
    	padding-left: 30px;
	}
	td.footable-visible.footable-first-column {
		padding-left: 30px;
	}
	tr>th, tr>td {		
    	border-left: 1px solid #ddd;
    	&:first-of-type {
    		border-left: none;
    	}
	}
	
}


// tfoot tr th:first-of-type {
// 	padding-left: 30px;
// }

// tr td:first-of-type {
// 	padding-left: 30px;
// }

.step_1 td:first-of-type {
	padding-left: 50px;
}
.step_1 {
	td.footable-visible.footable-first-column {
		padding-left: 50px;
	}
}
.step_2 {
	td.footable-visible.footable-first-column {
		padding-left: 70px;
	}
}
.menu__constructor {
	td button i {
		color: #FFF;
	}
}
td {
	.table--icon--right {
		font-size: 18px!important;
		color: #EFAD57;
		vertical-align: baseline;
		margin-left: 5px;
	}
}

.table--foot {
	background-color: #FFF;
	td {
		font-weight: bold;
	}
}

.table--bold-text {
	font-weight: bold;
}

td button i {
	color: #FFF;
}

.menu__constructor {
	td i {
		font-size: 12px !important;
	}
}
