.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	vertical-align: middle;
}

.well-left {
	display: inline-block;
	margin: 0 10px;
	&:first-of-type {
		margin-left: 0;
	}
}
.well-long {
	margin-bottom: 0;
}


a.table--control {
	margin: 0 5px;
	i {
		font-size: 18px;
	}
	@include link {
		text-decoration: none;
	}
}

.set-btn {
	@include link {
		text-decoration: none;
	}
}

.remove-btn {	
	opacity: 0.2;
	i {
		color: red!important;
	}
	@include link {
		opacity: 1;
	}
}

.table {
	margin-top: 20px;
}

.row__not-active {
	color: #878787;
	a {
		cursor: default;
		color: #878787;
		text-decoration: none;
	}
}

.table--check, #checkAll {
	vertical-align: text-bottom;
	margin-top: 0;
	margin-right: 15px!important;
}

.new-mes {
	color: #E00;
}

.stat {
	&__head {
		display: block;
		float: left;
		position: relative;
	}

}

.toggle-row {
	margin: 0;
}

.dropdown-row-child {
	display: none!important;
}

.step_1 td:first-of-type {
	padding-left: 20px;
}

.step_2 td:first-of-type {
	padding-left: 40px;
}