.js-phone--added {
	display: none;
}

.icon-question {
	@include link {
		i {
			color: darken(#999, 10%);
		}
	}
}

.dropdown {
	a.form-control {
		text-decoration: none;
		color: #555;
		@include link {
			text-decoration: none;
			color: #555;
		}
	}
}